{% extends "base.twig" %}

{% block menu %}
 <div id="divMenuRight" class="pull-right">
                            <div class="navbar">
                                <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                                    NAWIGACJA <span class="icon-chevron-down icon-white"></span>
                                </button>
                                <div class="nav-collapse collapse">
                                    <ul class="nav nav-pills ddmenu">
                                        <li class="dropdown active"><a href="{{ app.request.basepath }}">Strona główna</a></li>

                                        <li class="dropdown">
                                            <a href="{{ app.request.basepath }}/#" class="dropdown-toggle">Odżywianie <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ app.request.basepath }}/index.php/znaczenie">Znaczenie zdrowego odżywiania</a></li>
                                                <li><a href="{{ app.request.basepath }}/index.php/kultura">Kuchnia i posiłki w kulturze</a></li>

                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle">Zbilansowana dieta &nbsp;&raquo;</a>
                                                    <ul class="dropdown-menu sub-menu">
                                                        <li><a href="{{ app.request.basepath }}/index.php/zbilansowanie">Węglowodany</a></li>
                                                        <li><a href="{{ app.request.basepath }}/index.php/zbilansowanie">Białko</a></li>
                                                        <li><a href="{{ app.request.basepath }}/index.php/zbilansowanie">Tłuszcze</a></li>
                                                        <li><a href="{{ app.request.basepath }}/index.php/zbilansowanie">Nawodnienie i witaminy</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="{{ app.request.basepath }}/index.php/posts">Przepisy</a></li>

                                        <li class="dropdown"><a href="{{ app.request.basepath }}/index.php/kontakt">Kontakt</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


{% endblock %}

{% block content %}

    <div class="divPanel page-content">

        <div class="breadcrumbs">
            <a href="{{ app.request.basepath }}">Strona główna</a> &nbsp;/&nbsp; <span>;)</span>
        </div>

        <div class="row-fluid">
            <div class="span8" id="divMain">

                <h1>Na początek.. stop stereotypom!</h1>
                <p>Wielu osobom okres studiów kojarzy się z niezdrowym trybem życia. Zarywanie nocy, nieregularne posiłki
                    i&nbsp;dostarczanie organizmowi wielu pustych kalorii to najczęściej pojawiające się skojarzenia. </p>
                <p>Wielu znajomych, a także członków dalszej rodziny, uważało, że po rozpoczęciu studiów będę żywić
                    się przede wszystkim gotowymi obiadami przywożonymi z domu w formie mrożonek czy słoików albo
                    gotowymi daniami możliwymi do kupienia w supermarkecie, a dodatkowej ilości kalorii będą dostarczać
                    mi wysoko procentowe trunki. Po ponad dwóch latach studiowania mogę śmiało powiedzieć, że bardzo się mylili,
                    kierując się znanymi powszechnie stereotypami. </p>
                <p>Dzięki swojemu serwisowi chciałabym pokazać innym ludziom, a przede wszystkim swoim rówieśnikom –
                    studentom, że student może odżywiać się zdrowo, nawet przy ograniczonych możliwościach czasowych i finansowych.</p>

            </div>
            <div class="span4 sidebar">

                <div class="sidebox">
                    <h4 class="sidebox-title">Jedz zdrowo - jedz mądrze</h4>
                    <p>Wszystko jest dla ludzi, każdy ma czasem ochotę na kostkę czekolady lub kubeczek lodów.</p>
                    <p> Jeśli pozwolisz sobie na odrobinę szaleństwa, świat&nbsp;na pewno się nie zawali. Ważne jednak,
                        by&nbsp;pamiętać, że co za dużo, to niezdrowo.</p>
                </div>

            </div>
        </div>

        <div id="footerInnerSeparator"></div>
    </div>
{% endblock %}

